<span <% if selected %> class="selected" <% end %> >
  <a href="<%= href %>"><%= title %></a>
  <% unless badge.empty? %>
    <%= render(IUX::Badge::Component.new(type: badge[:type])) { badge[:label] } %>
  <% end %>
</span>