@import "../_core/stylesheets/variables.css.scss";

.split-view {
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
}

.split-view-vertical {
  flex-direction:column;
}

.split-view-horizontal {
  flex-direction:row;
}