<% if caption %>
  <span class="caption"><%= caption %></span>
<% end %>
<span role="currency" style="color: <%= @sign_color %>"><%= humanized_money_with_symbol Money.new(value, "BRL") %></span>





