<table role="dataset">
  <thead>
    <tr>
      <% header.each do |title| %>
        <%= title %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <tr>
        <td colspan="<%= header.size %>">
          <p class="ta-center">Não foram encontrados registros</p>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>


