<div role="daterange" class="input">
  <input type="text" name="<%= startField %>" autocomplete="off">
  <span class="to">até</span>
  <input type="text" name="<%= endField %>" autocomplete="off">  
</div>



