<div class="filter-container" data-behavior="filterbar" data-current-path="<%= @path %>">
  <span class="filter-text">Filtros:</span>
  <%= content %>
  <a role="button" href="<%= path %>" data-method="get" class="default mini secondary " style="float: right;font-size: 0.70em;margin: 0 0 12px 0;"> <i class="fa fa-times"></i> Limpar filtros</a>
</div>

